.list-container {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
}

.scroll {
  overflow-y: scroll;
  height: 360px;
  display: block;
}

.ml-auto {
  cursor: pointer;
  margin-left: auto;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: initial;
  font-size: 25px;
}

.fs-20 {
  font-size: 25px;
}

.wrap {
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.add-job {
  display: flex;
  padding-bottom: 1rem;
  font-size: 25px;
  line-height: 41px;
  white-space: nowrap;
  color: #4babe1;
}

.center-div {
  padding-top: 12rem;
}

@media screen and (max-width: 910px) {
  .list-container {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }

  table tr {
    margin-bottom: 0.625em;
  }

  table td {
    font-size: 20px;
  }

  .fs-20 {
    font-size: 17px;
  }
}

@media screen and (max-width: 500px) {
  .list-container {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .center-div {
    padding-top: 8rem;
  }

  .add-job {
    font-size: 15px;
    line-height: 21px;
  }

  table tr {
    margin-bottom: 0.625em;
  }

  table td {
    font-size: 15px;
  }

  .fs-20 {
    font-size: 12px;
  }
}
