.close-modal-btn {
  display: inline-flex;
  float: right;
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
}

.job-title {
  font-size: 2rem;
  text-align: center;
  padding: 1.4rem;
  font-weight: bold;
}

.cen-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
}

.fs-sm {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .cen-align {
    font-size: 1rem;
  }
  .fs-sm {
    font-size: 0.8rem;
  }
  .job-title {
    font-size: 1.2rem;
  }
}
