.container {
  clear: both;
  overflow: auto;
}

.hr-1 {
  border: 1px solid #e8e8e8;
}

.modal-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
}

.modal {
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: auto;
  // min-width: 50rem;
  // height: 260px;
  // height: auto;
  max-width: 100vw;
  background: white;
  border-radius: 10px;
  border: solid 1px #e5e5e5;
  box-shadow: 1px 7px 12px 0px #e5e5e5;
}

.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 900px) {
  .modal {
    min-width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    min-width: 20rem;
    overflow-y: scroll;
    max-height: 70vh;
  }
}
@media screen and (min-width: 900px) {
  .modal {
    min-width: 35rem;
  }
}
