$label2-color: #020b3f;
@mixin date-duration-style {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  label {
    color: $label2-color;
  }
  input {
    border: none;
    outline: none;
    border: solid 1px $placeholder-color;
    padding: 2px;
    text-align: center;
    color: $placeholder-color;
  }
}
.second-form-container {
  padding: 1rem;
}
.second-form-header {
  position: relative;
  h4 {
    margin: 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: $label2-color;
  }
  .back-btn-container {
    position: absolute;
    z-index: 4;
    img {
      width: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.second-form {
  margin-top: 2rem;
  display: grid;
  gap: 1.6rem;
  padding: 2rem;
}
.skill-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
  // padding: 1rem; // gap: 1rem;
  width: auto;

  label {
    color: $label2-color;
    font-size: 1.1rem;
    align-self: center;
  }
  input {
    border: none;
    outline: none;
    border: solid 1px $placeholder-color;
    padding: 4px;
    text-align: center;
    color: $placeholder-color;
  }
}
.mode-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
  // padding: 1rem;
  width: auto;
  label {
    color: $label2-color;
    font-size: 1.1rem;
  }
  .internship-modes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}
.part-time {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 4px;
  input {
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  input:checked {
    background: red;
  }
  input:checked:after {
    content: "__";
    background-color: #090540;
    border-radius: 4px;
  }
  label {
    display: grid;
    color: $placeholder-color;
    font-size: 14px;
  }
}

.slider-container {
  display: grid;
  grid-template-columns: 8rem 1fr;
  width: auto;
  label {
    color: $label2-color;
    font-size: 1.1rem;
  }
  .slider {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.date-duration-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  .date {
    @include date-duration-style();
  }
  .duration {
    @include date-duration-style();
  }
}

.inp-dur {
  display: inline-flex;
  input {
    width: 3rem;
    margin-left: 0.5em !important;
    border: none;
    outline: none;
    border: solid 1px $placeholder-color;
    padding: 2px;
    text-align: center;
    color: $placeholder-color;
  }
  span {
    padding-left: 0.5em;
    font-size: 18px;
    color: $placeholder-color;
  }
}
.job-description {
  label {
    color: $label2-color;
  }
  textarea {
    resize: none;
    outline: none;
    height: 10rem;

    padding: 2rem;
    color: $placeholder-color;
  }
  display: grid;
  gap: 1.3rem;
}

.text-box {
  display: block;
  width: auto;
  // height: 300px;
  white-space: pre-line;
  border: 1px solid #e5e5e5;
}
.post-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 14rem;
    font-size: 1.2rem;
    border: none;
    background: $submitbtn-color;
    color: white;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.pb-s {
  padding-bottom: 1rem;
}

.input-range__track--active {
  background: #020b3f !important;
}

.input-range__slider {
  background: #4babe1 !important;
  border: none !important;
}

@media screen and (max-width: 900px) {
  .date-duration-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .second-form {
    padding: 0;
  }
}
