.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.4rem;
}

.logo {
  padding-left: 3rem;
  img {
    float: left;
    width: 178px;
    height: 43px;
  }
}
ul {
  padding-right: 6rem;
  margin-top: 10px;
  li {
    display: inline-block;
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding-top: 1.2rem;
  }
  .logo {
    padding-left: 1.5rem;
    img {
      width: 150px;
      height: 36px;
    }
  }
  ul {
    padding-right: 1rem;
    li {
      font-size: 20px;
    }
  }
}
