$label-color: #020b3f;
$submitbtn-color: #4BABE1;
$placeholder-color: rgba(0, 0, 0, 0.37);

// mixins
@mixin mainFormContent {
  display: grid;
  grid-template-columns: 6rem auto;
  font-size: 1rem;
  gap: 1rem;
  label {
    color: $label-color;
    align-self: center;
  }
  input {
    border: none;
    outline: none;
    border-bottom: solid 1px $placeholder-color;
    font-size: 1rem;
    align-self: center;
    text-align: center;
  }
}
.main-form-container {
  padding: 1rem;
  padding-top: 3rem;
  display: grid;
  place-items: center;
}
.main-form {
  display: grid;
  width: 90%;
  gap: 2rem;
}
.job-title-container {
  @include mainFormContent();
}
.job-location-container {
  @include mainFormContent();

  input {
    padding: 4px;
    background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
  }
}
.checkbox-wrapper{
    display: grid;
    grid-template-columns: 7rem auto;
    gap:1rem;
}
.checkbox-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .checkbox-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    input {
      margin-right: 8px;
    }
    label{
        color:$placeholder-color;
    }
  }
}
.submit-btn-container{
    display: flex;
    justify-content:flex-end;
    button{
        font-size:1.2rem;
        color: white;
        padding: 4px 8px;
        background: $submitbtn-color;
        border: none;
        outline: none;
        &:hover{
            cursor: pointer;
        }
    }
}

@media screen and (max-width:500px){
    .main-form{
        width: 100%;
    }
    .space-filler{
        display: none;
    }
    .checkbox-wrapper{
        grid-template-columns: 1fr;
    }

}