body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./components/Wrapper/index.scss";
@import "./components/Header/index.scss";
@import "./components/JobsList/index.scss";
@import "./components/MainForm/index.scss";
@import "./components/SecondForm/index.scss";
@import "./components/Detail/index.scss";
